{% extends "base.html" %}

{% load static %}

{% block title %} Drug id {% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/Drug_id.css' %}" />
{% endblock %}

{% block content %}
<article>
    <header>
        <div>
            <p>Discover</p>
            <h1>Drug i.d.</h1>
            <p>Some active ingredients are negatively affected by your food. Check forbidden food.</p>
        </div>
    </header>
    <div class="middle">
        <section class="form-cont">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!-- <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">Description</button> -->
                    <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">
                        Image
                    </button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- <div class="tab-pane fade  mt-3" id="nav-home" role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    <h6>Pill Imprint</h6>
                    <form action="">
                        <input type="text" placeholder="Enter Pill Imprint">
                        <div class="d-flex mb-4 gap-3 gap-lg-4">
                            <section class="color-cont position-relative">
                                <h6>Color</h6>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select Color</option>
                                    <option value="red">Red</option>
                                    <option value="green">Green</option>
                                    <option value="blue">Blue</option>
                                </select>
                                <span class="color"></span>
                            </section>
                            <section class="shape-cont position-relative">
                                <h6>Shape</h6>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select Shape</option>
                                    <option value="rounded">Rounded</option>
                                </select>
                                <span class="color"></span>
                            </section>
                        </div>
                        <div>
                            <button type="submit">View Result</button>
                            <span class="results">0</span>
                        </div>
                    </form>
                </div> -->

                <div class="tab-pane fade show active mt-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <form action="{% url 'classify_image' %}" id="upload-form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div>
                            <button type="button" onclick="uploadImage()" class="upload d-block m-auto mt-4">
                                <label for="file">
                                    Upload Image
                                </label>
                            </button>
                            <input type="file" id="file" name="file" accept="image/*" style="display:none;" onchange="handleFileSelect(event)" />
                             <div class="img-cont mt-3">
                                 <img src="" alt="Uploaded Image" id="image-preview" style="display:none; max-width: 200px;">
                                 <span id="file-name"></span>
                             </div>
                        </div>

                        <div class="position-relative mt-5">
                            <hr />
                            <span class="or">Or</span>
                            <div class="" id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                                <p class="drag-zone">Drag one or more files to this <i>drop zone</i>.</p>
                            </div>
                        </div>


                        <div class="form-btns">

                        <button type="submit">View Result</button>

                        <div class="results" id="results">
                            <span class="left">
                                <svg width="79" height="61" viewBox="0 0 79 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 30.4811C0 47.31 13.7967 60.9622 30.8038 60.9622H78.5V0H30.8038C13.7967 0 0 13.6522 0 30.4811Z" fill="#CFE1EC"/>
                                    <path d="M30.8038 57.5964H78.5V60.9622H30.8038C13.7967 61 0 47.3478 0 30.4811C0 29.9138 0 29.3466 0.0382181 28.7793C0.955453 44.8518 14.37 57.5964 30.8038 57.5964Z" fill="black" fill-opacity="0.09"/>
                                    <path opacity="0.41" d="M30.0775 3.17676C21.5166 3.17676 14.5991 10.0218 14.5991 18.4929C14.5991 26.9641 21.5166 33.8091 30.0775 33.8091H76.2832V3.17676H30.0775Z" fill="white"/>
                                    <path d="M30.3833 6.39152C31.1095 7.86641 29.7719 9.94639 27.4406 11.0809C25.1092 12.1776 22.6251 11.8751 21.9371 10.4002C21.211 8.92531 22.5486 6.84533 24.8799 5.7108C27.173 4.61409 29.6572 4.91663 30.3833 6.39152Z" fill="white"/>
                                </svg>
                            </span>
                            <span class="right">
                                <svg width="79" height="61" viewBox="0 0 79 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M47.6962 0H0V61H47.6962C64.7033 61 78.5 47.3478 78.5 30.5189C78.5 13.6522 64.7033 0 47.6962 0Z" fill="#31B5ED"/>
                                    <path d="M78.4618 28.8169C77.5828 44.8894 64.13 57.634 47.6962 57.634H0V60.9998H47.6962C64.7033 60.9998 78.5 47.3476 78.5 30.5187C78.5 29.9136 78.5 29.3463 78.4618 28.8169Z" fill="black" fill-opacity="0.09"/>
                                    <path opacity="0.41" d="M48.4223 3.17676H2.21655V33.8091H48.4223C56.9831 33.8091 63.9006 26.9641 63.9006 18.4929C63.9006 10.0596 56.9449 3.17676 48.4223 3.17676Z" fill="#E0E0E0"/>
                                    <path d="M57.3193 10.38C58.0301 8.91049 56.7233 6.8275 54.4006 5.72748C52.0778 4.62746 49.6187 4.92696 48.908 6.39643C48.1973 7.8659 49.504 9.94887 51.8268 11.0489C54.1495 12.1489 56.6086 11.8494 57.3193 10.38Z" fill="white"/>
                                </svg>
                            </span>
                            
                            <p class="img-results">
                                
                            </p>

                        </div>

                        </div>
                    </form>
                </div>


            </div>
        </section>
        <section class="guide">
            <h6 class="text-center">HOW TO USE ?</h6>
            <ul>
                <li>Choose Photo To Upload.</li>
                <li>Drag Photo To Know It.</li>
                <li>Let the <span>magic works!</span></li>
            </ul>
        </section>
    </div>

<button class="toggle-nav d-md-none d-none"><i class="fa-solid fa-arrow-right"></i></button>
</article>


{% endblock content %}

{% block script %}
<script src="{% static 'js/drug_id.js' %}"></script>

{% endblock %}