{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmaScope - Cases</title>
    <link rel="shortcut icon" href="{% static './img/icons8-pharmacy-shop-16.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/case-details.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Poppins:wght@100;300;400;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body style="background-color: #F8FDFF;">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">PharmaScope</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'Home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Cases' %}">Cases</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interactions
                        </a>
                        <ul class="dropdown-menu border-0">
                            <li>
                                <a class="dropdown-item" href="{% url 'check_interactions' %}">Drug Interaction</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'food_interaction' %}">Food Interaction</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Drug_id' %}">Drug I.D.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Home' %}">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Podcast' %}">Podcast</a>
                    </li>
                </ul>

                <div class="auth">
                    <a href="{% url 'Home' %}">Sign in</a>
                    <a class="sign-up" href="{% url 'Home' %}">Sign up</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="heading text-center">
        <p class="mb-2"><b>Latest Cases</b></p>
        <h3>Patient |<span> Simulations</span></h3>
        <span>March3 ,2024 |By Pharma Scope</span>
    </div>

    <div class="container pt-5 pb-5">
        <div class="title-one mb-5">
            <h3 class="heading-name">History of Present Illness</h3>
            <p>
                Shannon C. is a 22-year-old White woman presenting for a follow-up of recently diagnosed plaque psoriasis.
                She was initially diagnosed with mild plaque psoriasis during an urgent care visit 8 weeks ago when she presented with a painful red pruritic rash on her elbows.
                She was prescribed a moderate-potency topical corticosteroid (triamcinolone 0.1%) along with an emollient cream and was referred to dermatology for a follow-up.
                Four weeks later, she presented to dermatology and reported no relief of her symptoms despite topical treatment.
                BSA measurement revealed worsening of disease severity and her diagnosis was upgraded to moderate plaque psoriasis, and she was prescribed a high-potency topical corticosteroid (clobetasol 0.05%).
                Shannon presents today after 4 weeks of treatment with a high-potency topical corticosteroid and says her rash has spread to her lower back with increased pruritus causing her lesions to bleed.
                She also complains of sleep disturbance and difficulty focusing at work owing to her worsening symptoms.
                She has no comorbidities, has no history of allergies, and has an IUD in place for long-term contraception.
            </p>
        </div>
        <div class="title-two mb-5">
            <h3 class="heading-name">Family and Social History</h3>
            <p>
                Shannon C. has no family history of psoriasis,
                atopic dermatitis, or any other dermatologic or autoimmune disorders.
                She is single and is actively dating.<br> She works as an intern at an interior design firm.
                She has never smoked, drinks one to two alcoholic beverages per week, and does not use recreational or illicit drugs.
            </p>
        </div>
        <div class="title-three">
            <h3 class="heading-name">Physical Examination Notes</h3>
            <table style="border: 1px solid; border-collapse: collapse;">
                <tr>
                  <th style="border: 1px solid; padding: 5px;">GENERAL</th>
                  <td style="border: 1px solid; padding: 5px;">No acute distress, alert and oriented ×3.</td>
                </tr>
                <tr>
                  <th style="border: 1px solid; padding: 5px;">SKIN</th>
                  <td style="border: 1px solid; padding: 5px;">Raised, thick, erythematous, scaly, well-demarcated lesions on the extensor surfaces of both elbows and the lumbosacral region of the lower back. No discoloration, pitting, onycholysis, or other abnormalities.</td>
                </tr>
                <tr>
                  <th style="border: 1px solid; padding: 5px;">NAILS</th>
                  <td style="border: 1px solid; padding: 5px;">No discoloration, pitting, onycholysis, or other abnormalities.</td>
                </tr>
                <tr>
                  <th style="border: 1px solid; padding: 5px;">JOINTS</th>
                  <td style="border: 1px solid; padding: 5px;">No restrictions or limitations in movement. Normal range of motion.</td>
                </tr>
              </table>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h2>
                        <a href="#" class="logo">PharmaScope</a>
                    </h2>
                    <p class="text-white-50">
                        Empowering <span>Pharmacists</span> with Knowledge
                    </p>
                    <ul class="list-unstyled d-flex gap-3 icon">
                        <li><a class="text-black" href="#"> <i
                                    class="fa-brands fa-facebook facebook p-2 rounded-circle bg-white"></i> </a></li>
                        <li><a class="text-black" href="#"> <i
                                    class="fa-brands fa-whatsapp whatsapp p-2 rounded-circle bg-white"></i> </a></li>
                        <li><a class="text-black" href="#"> <i
                                    class="fa-brands fa-twitter twitter p-2 rounded-circle bg-white"></i> </a></li>
                        <li><a class="text-black" href="#"> <i
                                    class="fa-brands fa-linkedin linkedin p-2 rounded-circle bg-white"></i> </a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 ps-lg-5 pe-lg-5">
                    <h5>Menu</h5>
                    <ul class="list-unstyled menu">
                        <li><a class="text-decoration-none text-white-50" href="{% url 'Home' %}">Home</a></li>
                        <li><a class="text-decoration-none text-white-50" href="{% url 'check_interactions' %}">Interactions</a></li>
                        <li><a class="text-decoration-none text-white-50" href="{% url 'Drug_id' %}">Drug I.D.</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 ps-lg-5 pe-lg-5">
                    <h5>Help Center</h5>
                    <ul class="help list-unstyled">
                        <li><a class="text-decoration-none text-white-50" href="#">Help Center</a></li>
                        <li><a class="text-decoration-none text-white-50" href="#">Account Information</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 ps-lg-5 pe-lg-5">
                    <h5>Contact us</h5>
                    <ul class="contact list-unstyled">
                        <li class="text-white-50">
                            <i class="fa-solid fa-phone me-2"></i> +20 1272753203
                        </li>
                        <li class="text-white-50">
                            <i class="fa-solid fa-envelope me-2"></i> info@pharma.com
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="copy-right">
                <p class="text-center m-0">&copy; PharmaScope 2023. All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
</body>

</html>