{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/pod-details.css' %}" />
{% endblock %}

{% block title %}The Medical Podcast{% endblock %}
{% block content %}
<article>
  <h3 class="podcast-name">The Medical Podcast</h3>
  <div class="podcasts-cont d-flex flex-column-reverse flex-md-row pt-4 pb-4">
    <div class="podcast col-md-8">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/388WLn7LZ7arccsLwzhGeo?utm_source=generator&theme=0" width="100%" height="696" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    
    <div class="col-md-4 px-md-3 mb-4 mb-md-0">
      <div class="about">
        <h3>About:</h3>
        <p>
          Hello and welcome to the Zero to Finals podcast.
          My name is Dr Thomas Watchman.
          I am a GP in the UK and I love creating educational material for studying medicine.
          This podcast is designed to be a time-efficient revision tool to help you study for your medical exams. Each podcast leads on from the next and each season tackles a different area of medicine.
          The podcast supplements the material available on the www.zerotofinals.com website, in the Zero to Finals books and on the Zero to Finals YouTube channel.
          Whilst listening to a podcast you can follow along with written information and illustrations on the Zero to Finals website or books. You can also find Zero to Finals on instagram, Facebook and twitter.
          Enjoy the show!
        </p>
      </div>
    </div>
</div>
</article>
{% endblock content %}


{% block script %}
<script src="{% static 'js/pod_details.js' %}"></script>
{% endblock %}