{% extends "base.html" %}

{% load static %}

{% block title %} PodCast {% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/Podcast.css' %}" />
{% endblock %}

{% block content %}
    <article>
      <nav class="navbar gap-md-0">
        <!-- <div class="controls col-3 col-md-2 col-lg-1">
                    <button class="back" disabled><i class="fa-solid fa-chevron-left"></i></button>
                    <button class="forward"><i class="fa-solid fa-chevron-right"></i></button>
                </div> -->
        <form class="d-flex position-relative col-9 col-md-6" role="search">
          {% csrf_token %}
          <input
            class="search me-2"
            type="search"
            placeholder="Artists, songs, or podcasts"
            aria-label="Search"
          />
          <button class="search-btn" type="submit">
            <svg
              width="20"
              height="20"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_384_2915)">
                <path
                  d="M26.8579 24.5121L20.0741 17.7283C21.8363 15.5731 22.7027 12.8231 22.4941 10.047C22.2855 7.2709 21.0179 4.68119 18.9535 2.81352C16.889 0.94584 14.1857 -0.0569135 11.4027 0.012671C8.61967 0.0822555 5.96985 1.21885 4.00133 3.18737C2.03282 5.15588 0.89622 7.8057 0.826636 10.5887C0.757051 13.3718 1.7598 16.0751 3.62748 18.1395C5.49516 20.2039 8.08487 21.4715 10.8609 21.6801C13.637 21.8887 16.3871 21.0223 18.5422 19.2601L25.3261 26.044L26.8579 24.5121ZM11.6912 19.544C9.97715 19.544 8.30153 19.0357 6.87631 18.0834C5.45108 17.1311 4.34025 15.7775 3.68429 14.1939C3.02834 12.6102 2.85671 10.8677 3.19111 9.1865C3.52552 7.50534 4.35094 5.96108 5.56299 4.74903C6.77505 3.53697 8.3193 2.71155 10.0005 2.37715C11.6816 2.04274 13.4242 2.21437 15.0078 2.87033C16.5915 3.52629 17.945 4.63712 18.8973 6.06234C19.8496 7.48757 20.3579 9.16318 20.3579 10.8773C20.3553 13.175 19.4414 15.3779 17.8167 17.0027C16.1919 18.6275 13.989 19.5414 11.6912 19.544Z"
                  fill="black"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_384_2915">
                  <rect
                    width="26"
                    height="26"
                    fill="white"
                    transform="translate(0.858398 0.0432129)"
                  ></rect>
                </clipPath>
              </defs>
            </svg>

            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
          </button>
        </form>
        <div class="dropdown d-none d-md-block ms-lg-auto">
          <img class="img" src="{% static './img/avatar.png' %}" alt="" />
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >

            {{ user.username }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item d-flex justify-content-between" href="#">
                Account
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 29 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20.6344 23.3333H7.80111C7.18227 23.3333 6.58878 23.0875 6.15119 22.6499C5.71361 22.2123 5.46777 21.6188 5.46777 21V8.16663C5.46777 7.54779 5.71361 6.95429 6.15119 6.51671C6.58878 6.07912 7.18227 5.83329 7.80111 5.83329H12.4678V8.16663H7.80111V21H20.6344V16.3333H22.9678V21C22.9678 21.6188 22.7219 22.2123 22.2844 22.6499C21.8468 23.0875 21.2533 23.3333 20.6344 23.3333ZM14.4511 15.9915L12.8061 14.3418L20.1479 6.99996H15.9678V4.66663H24.1344V12.8333H21.8011V8.65079L14.4511 15.9915Z"
                    fill="white"
                  ></path>
                </svg>
              </a>
            </li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
          </ul>
        </div>
      </nav>

      <header>
        <div>
          <p>Discover</p>
          <h1>Podcast</h1>
          <p>
            Enjoy everything new with us. We are with you at all times and in
            every place
          </p>
        </div>
      </header>
      <div class="podcasts-cont row">


        <div class="col-md-6">
          <div class="podcast mb-5">
            <a href="{% url 'pharmaceutical_technology' %}">
              <h3>PatientTechnology</h3>
            </a>
            <div class="case">
              <img src="{% static './img/podcast#4.png' %}" alt="" />
              <!--   <span class="play">
                        <i class="fa-solid fa-play"></i>
                      </span>
                      -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="podcast mb-5">
            <a href="{% url 'Pharmaceutical_manufacturing' %}">
              <h3>Patient Manufacturing</h3>
            </a>
            <div class="case">
              <img class="img-fluid" src="{% static './img/podcast#3.png' %}" alt="" />
              <!--   <span class="play">
                        <i class="fa-solid fa-play"></i>
                      </span>
                      -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="podcast mb-5">
            <a href="{% url 'Medical_Medium_Podcast' %}">
              <h3>Medical Medium</h3>
            </a>
            <div class="case">
              <img src="{% static './img/podcast#5.png' %}" alt="" />
              <!--   <span class="play">
                        <i class="fa-solid fa-play"></i>
                      </span>
                      -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="podcast mb-5">
            <a href="{% url 'Medical_podcasts' %}">
              <h3>The Medical Podcast</h3>
            </a>
            <div class="case">
              <img src="{% static './img/podcast#2.png' %}" alt="" />
              <!--   <span class="play">
                         <i class="fa-solid fa-play"></i>
                       </span>
                       -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="podcast mb-5">
            <a href="{% url 'pharmaceutical_Magazine' %}">
              <h3>Weekly pharmaceutical Magazine</h3>
            </a>
            <div class="case">
              <img src="{% static './img/podcast#1.png' %}" alt="" />
              <!--   <span class="play">
                         <i class="fa-solid fa-play"></i>
                       </span>
                       -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="podcast mb-5">
            <a href="{% url 'Mechanisms_of_interactions' %}">
              <h3>Mechanism Of Drug Interactions</h3>
            </a>
            <div class="case">
              <img src="{% static './img/podcast#6.png' %}" alt="" />
              <!--   <span class="play">
                        <i class="fa-solid fa-play"></i>
                      </span>
                      -->
            </div>
          </div>
        </div>


      </div>
   
      <h5 class="validTxt d-none">Not Found!!</h5>
    </article>
{% endblock content %}

{% block script %}
<script src="{% static 'js/podcast.js' %}"></script>
{% endblock %}
