body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #edfaff !important;
}
main{
    position: relative;
}
aside{
    background-color: #fff;
/*     height: 100vh; */
    transition: 0.5s;
    text-align: center;
    z-index: 99;
    width: 10%;
    padding: 2rem;
    position: sticky;
    top: 0;
}
aside.open{
    padding: 2rem 4rem 2rem 5rem;
    width: 25%;
}
aside a.logo{
    display: block;
}
aside ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}
aside ul li{
    margin-bottom: 2rem;
}
aside ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 32px;
    margin: 0 auto;
    /* color: #219EBC; */
    color: #156578;
    text-decoration: none;
    overflow: hidden;
    font-weight: 500;
}
aside ul li a.open{
    width: 100%;
    margin: 0;
    text-align: start;
    overflow: visible;
}
aside ul li a.active{
    color: #023047;
    font-weight: 600;
}
aside ul li a:hover{
    color: #023047;
}
aside ul li a:hover svg path{
    fill: #023047;
}
aside button {
    background-color: transparent;
    border: none;
    outline: 0;
    margin-top: 2rem;
}
aside button svg{
    color: #125a6c;
    font-size: 22px;
}
aside button.close svg{
    color: #c30000;
}

aside.open ~ article{
    width: 70%;
}


.toggle-nav{
    background: linear-gradient(326.42deg, #0096EA 10.57%, #00D1FF 154.06%);
    color: white;
    position: fixed;
    bottom: 40px;
    left: -55px;
    border: 0;
    z-index: 9;
    padding-left: 55px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


@media (width <=767px) {
    aside {
        padding: 2rem 1rem;
        width: 20%;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll !important;
        height: 100vh !important;
    }

    aside.open {
        width: 50%;
        /* left: -100%; */
        padding-left: 1rem;
        padding-right: 1rem;
    }

    aside.close {
        left: -100%
    }

    article {
        width: 100%;
        padding: 0 1.5rem;
    }

    aside.open~article {
        width: 100%;
    }

    article .middle {
        flex-wrap: wrap;
        gap: 1rem;
    }

    article .middle section:first-child {
        width: 100%;
    }

    article .middle section form button[type='submit'],
    article .middle section form .btn-clear {
        width: 100%;
    }
}

@media (768px <= width <= 995px) {
    aside {
        padding: 2rem;
        width: 15%;
    }

    aside.open {
        width: 30%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    aside.close{
        left:-100%
    }

    article {
        width: 80%;
    }

    aside.open~article {
        width: 65%;
    }

    article .middle {
        gap: 1rem;
    }

    article .middle section:first-child {
        width: 60%;
    }

    article .middle section form button[type='submit'],
    article .middle section form .btn-clear {
        width: 80%;
    }
    
}


aside::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    right: 0;
    /* Width of the scrollbar */
}

aside::-webkit-scrollbar-track {
    background: #f1f1f1;
    background: transparent;
    /* Color of the track */
}

aside::-webkit-scrollbar-thumb {
    background: #125a6cb5;
    background: transparent;
    /* Color of the scrollbar */
}
